
/* General styling */
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url('../fonts/OpenSans-SemiboldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/OpenSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family:"OpenSans", "Verdana", sans-serif;
	font-size:0;
	color:#222;'
	font-weight:400;
}
body, html {
	height:100%;
}
body {
	background-color:#ccc;
	overflow-y:scroll;
}
html {
	font-size:16px;
}
.button {
	padding: 0.5rem 1rem;
	background-color:#e22a40;
	border-radius:3px;
	text-align: center;
	color:#ccc;
}
.button:hover {
	cursor:pointer;
	background-color:#f14a5e;
}
ul {
	list-style: none;
}
.noselect {
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.resultmsg {
	color: #e22a40;
	margin-bottom:1rem;
	display: none;
}

/* Text */
p, a, span, input, label, .button, li, ul {
	font-size:1rem;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	transition: color 0.2s;
}
h1, h2, h3 {
	font-family:'OpenSansSemiboldItalic';
	font-weight:bold;
	font-style:italic;
	color:#d5041d;
}
h1 {
	font-size:1.3rem;
	margin-bottom:2rem;
}
h2 {
	font-size:1.2rem;
}
p + p{
	margin-top:1rem;
}
a:hover {
	color:#d5041d;
}

/* Form */
input[type="text"], input[type="password"] {
	font-size: 14px;
	padding:0.5rem 1rem;
	width:100%;
	border:1px solid #666;
	border-radius:3px;
	margin-bottom:0.2rem;
	outline:none;
}
input[type="checkbox"] {
	margin-top:10px;
	margin-right:5px;
}
input[type="text"]:focus, input[type="password"]:focus {
	border-color:#f14a5e;
}
.pagewrap {
	min-height:100%;
	position:relative;
}

/* Navigation styling */
.navi {
	position:fixed;
	left:0;
	top:0;
	background-color:rgba(1,1,1,0.8);
	width:100%;
	text-align: center;
}

	.navi li {
		display:inline-block;

	}
	.navi a {
		color:#ccc;
		padding:1rem 1rem;
		text-decoration: none;
		display:inline-block;
	}
	.navi a:hover {
		color:rgb(241,74,94);
	}

/* Header styling */
.header {
	width:100%;
	height:300px;
	height:30vh;
	background: url("../img/headerpic.jpg") fixed no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	position:relative;
	background-color:black;
	overflow: hidden;
	border-bottom:1px solid #111;
}
.header img {
	position:absolute;
	left:50%;
	top:60%;
	transform:translateX(-50%) translateY(-50%);

}

/* Content styling */
.content {
	margin: 50px auto;
	width:800px;
	padding-bottom:40px;
}
	.gallerycontainer {
		width:100%;
		background: #111116 url("../img/downarrow.png") center top no-repeat;
	}
	.content .quotecontainer {
		width:100%;
		text-align: center;
	}
	.content .quote {
		border: 2px solid #111;
		padding:1rem;
		display:inline-block;
		border-radius:7px;
		box-shadow:1px 1px 4px 1px rgba(1,1,1,0.3);
	}
	.avaleht .descriptioncontainer .descriptiontext {
		display:inline-block;
		width:60%;
	}
	.avaleht .descriptioncontainer img {
		display:inline-block;
	}
	.gallery {
		padding-top:2.5rem;
		margin: 0 auto;
		width:800px;
		padding-bottom:100px;
	}
	.gallery .galleryitem {
		display:inline-block;
		height:100px;
		width:20%;
		background-color:black;
		text-align: center;
	}
		.gallery h1 {
			color:#ccc;
			margin-bottom:1.5rem;
			margin-top:3.5rem;
		}
		.gallery .galleryitem:hover {
			cursor: pointer;
		}
		.gallery .galleryitem > a {
			font-size:1.1rem;
			font-family:'OpenSansSemiboldItalic', sans-serif;
			font-weight:bold;
			font-style:italic;
			color:#ccc;
			line-height:100px;
			text-shadow:1px 1px 4px rgba(1,1,1,0.8);
			background-color:rgba(1,1,1,0.5);
			width:100%;
			display:inline-block;
		}
		.gallery .galleryitem:hover a {
			background-color:rgba(1,1,1,0);
		}
	.meist .titlebox {
		border-bottom:1px solid black;
		border-color:#d5041d;
		padding-left:20px;
		width:100%;
		margin-bottom:2rem;
		
	}
	.meist .titlebox h2 {
		color:#d5041d;
		display:inline-block;
		margin-bottom:0;
		margin-right:1rem;
	}
	.meist .titlebox p {
		color:#d5041d;
		display:inline-block;
		font-family: "OpenSansItalic", sans-serif;
		font-style: italic;
	}
	.meist .descriptionbox img {
		vertical-align: top;
		display:inline-block;
		width:30%;
		margin:0 20px 20px 20px;
	}
	.meist .descriptionbox p {
		display:inline-block;
		width:60%;
	}
	.loginpage {
		text-align: center;	
	}
		.loginpage .button {
			margin: 1rem 0;
		}
		.loginpage .loginbox, .loginpage .registerbox {
			width:40%;
			display:inline-block;
			vertical-align:middle;
		}
		.loginpage .registerbox {
			margin-right:9%;
		}
		.loginpage .registerbox span, .loginpage .registerbox a {
			font-size:14px;
		}
	.piirkondpage .titlebar h1 {
		display:inline-block;
	}
		.piirkondpage .titlebar input{
			display:inline-block;
			width:auto;
			float:right;
		}
		.piirkondpage .titlebar span {
			margin-right:1rem;
			float:right;
			font-family:"OpenSansItalic", Verdana;
			font-style:italic;
		}
		.piirkondpage .titlebar a {
			margin-left:1rem;
			font-family:"OpenSansItalic", Verdana;
			font-style:italic;
		}
		.piirkondpage .courses {
			border:2px solid #111;
			border-radius:4px;
			box-shadow:1px 1px 4px 1px rgba(1,1,1,0.3);
		}
		.piirkondpage .courses .titlebar h2 {
			font-family: "OpenSansItalic";
			font-style: italic;
			font-weight:400;
			display:inline-block;
			padding-bottom:0.5rem;
		}
		.piirkondpage .courses .titlebar span {
			font-size:14px;
		}
		.piirkondpage .courses li {
			font-size:0.9rem;
		}
		.piirkondpage .course {
			padding: 0.8rem;
			padding-bottom:1rem;
		}
		.piirkondpage .course + .course {
			border-top: 2px solid #f14a5e;
		}
		.piirkondpage .course:hover {
			cursor:pointer;
		}
		.piirkondpage .extrabar {
			display:none;
			margin-top:1rem;
		}
		.piirkondpage .extralinks {
			text-align: right;	
		}
			.piirkondpage .extralinks a {
				font-family:"OpenSansItalic";
				font-style:italic;
			}
			.piirkondpage .extralinks a + a {
				margin-left:1rem;
				padding:1rem;
			}
		.lookursus {
			width:50%;
		}
/* Footer styling */
footer {
	background-color:rgba(1,1,1,0.9);
	position:fixed;
	bottom:0;
	left:0;
	height:50px;
	width:100%;
	text-align:center;
}
	footer span {
		line-height:50px;
		font-size:14px;
		color:#ccc;
	}

/* Background images */
.pic {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.pic.harjumaa {
	background-image:url('../img/piirkonnad/harjumaa.jpg');
}
.pic.saaremaa {
	background-image:url('../img/piirkonnad/saaremaa.jpg');
}
.pic.tartumaa {
	background-image:url('../img/piirkonnad/tartumaa.jpg');
}
.pic.parnumaa {
	background-image:url('../img/piirkonnad/parnumaa.jpg');
}
.pic.idavirumaa {
	background-image:url('../img/piirkonnad/idavirumaa.jpg');
}
.pic.flamenko {
	background-image:url('../img/stiilid/flamenko.jpg');
}
.pic.hiphop {
	background-image:url('../img/stiilid/hiphop.jpg');
}
.pic.seltskonnatants {
	background-image:url('../img/stiilid/seltskonnatants.jpg');
}
.pic.rahvatants {
	background-image:url('../img/stiilid/rahvatants.jpg');
}
.pic.nabatants {
	background-image:url('../img/stiilid/nabatants.jpg');
}
@media (max-width: 800px) {
	.meist .descriptionbox img, .meist .descriptionbox p{
		display:block;
	}
	.gallery .galleryitem{
		display:block;
		margin: 0 auto;
	}
	.gallery h1 {
		text-align: center;
	}
	.meist .descriptionbox p, .meist .descriptionbox img {
		margin-left: auto;
		margin-right:auto;
	}
	.loginpage .loginbox, .loginpage .registerbox {
		display:block;
		margin-bottom:50px;
	}
	.avaleht .descriptioncontainer img {
		display:none;
	}
}